# Rendered by drone-companion reload-config. Edit config.yaml, not this file.
GCS_HOST={{ video.gcs_host }}
GCS_PORT={{ video.gcs_port }}
SNAP_PORT={{ video.snapshot_port if video.snapshot_port is not none else '' }}
WIDTH={{ video.resolution.split('x')[0] }}
HEIGHT={{ video.resolution.split('x')[1] }}
FPS={{ video.fps }}
BITRATE={{ video.bitrate }}
INTRA={{ video.intra }}
PROFILE={{ video.profile }}
LEVEL={{ video.level }}
AF_MODE={{ video.autofocus }}
EV={{ video.exposure_ev }}
FEC_PCT={{ video.fec_percent }}
